.tooltip
{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    color:whitesmoke;
    font-family: var(--font-body);
    font-size: 14px;
    z-index: 1000;
    pointer-events: none;
    transform: translate(-50%,-100%);
    padding: 10px;
    border-radius: 5px;
}

.tooltip::after
{
    content:"";
    width: 0;
    height: 0;
    border-left:  7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.75);
    position: absolute;
    left: calc(50% - 7px);
    bottom:-10px;
}
