/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.Container
{
    width: 100%;
    height: auto;
    position: relative;
}

.Inner 
{
    position: relative;
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
}

.Display
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.Current
{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: baseline;
}

.Active
{
    background-color: #0f0;
    box-shadow: 0 0 25px #0f0, 0 0 50px #0f0;
}

.Container:hover #Note
{
    opacity: 1;
    transition: opacity .4s ease-in-out .3s;
}

#Note
{
    opacity: 0;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    left:50%;
    bottom:50%;
    font-family: 'Poppins', sans-serif;
    transition: opacity .4s ease-in-out 0s;
} */


#Container
{
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

#Circle
{
    width: 100%;
    height: 100%;
    position: relative;
    top: 5%;
    left: 0;
}

#Display
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    color: whitesmoke;
    font-family: var(--font-big);
}

#Display h2
{
    line-height: 1;
}

#Line
{
    background-color: whitesmoke;
    height: 5px;
    width: 100%;
}

#Name
{
    position : absolute;
    bottom: 15%;
    width: 100%;
    text-align: center;
    font-family: var(--font-big);
    color: whitesmoke;
    line-height: 1;
}