#Container
{
    width: 100vw;
    height: 100vh;
    background: var(--gradient-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    font-family: var(--font-big);
    color: whitesmoke;
    font-size: 72px;
}