<div id="Container" >
    <h1>METER DETAILS</h1>
    


    <mat-form-field>
      <mat-label>Month and Year</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="date">
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (yearSelected)="setDate($event, dp)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>


    <div id="container"></div>

    <button mat-raised-button color="primary" (click)="goBack()">Go back</button>
    
  </div>
