<!-- <app-sidebar [List]="RoomList" [ActiveId]="CurrentRoomId" (OnClicked)="SideBarClick($event)"></app-sidebar>
<app-navbar [Title]="'Lokale ' + Room.Name"></app-navbar>
<div id="Container">
    <div *ngIf="showMainContent" >
        <app-dashboard  [MainMeter]="Room" [SubMeters]="Meters" (detailEvent)="onEmitEvent($event)" ></app-dashboard>
    </div>
    <div *ngIf="!showMainContent">
        <app-meterdetailpage (meterDetailEvent)="onEmitEvent($event)"></app-meterdetailpage>
    </div>
</div> -->



<app-navbar [Title]="'Lokale '"></app-navbar>
<app-sidebar [List$]="RoomList$" [ActiveId]="CurrentRoomId" (OnClicked)="SideBarClick($event)"></app-sidebar>

