<app-navbar Title=""></app-navbar>
<div id="Container">
    <div id="Content">
        <h1>TEC'S ENERGY AWARENESS APP</h1>
        <h2>Dit Vindue til Energioptimering!</h2>
        <p>Få dannet dig et nemt overblik med vores Energy Awareness App, der giver dig indsigt i bygningers og rummets energiforbrug. Få realtidsdata præsenteret på en intuitiv grænseflade, inklusive grafer og diagrammer, der gør det let at forstå og optimere dit energiforbrug.</p>
        <a  href="/room/1">CALL TO ACTION</a>
    </div>
</div>